In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math
import seaborn as sns

In [2]:
#data set from kaggle: https://www.kaggle.com/competitions/grupo-bimbo-inventory-demand/data

#office
bgtrain = pd.read_csv("../../Desktop/work/data science/project/bakery data/train.csv")
clients = pd.read_csv("../../Desktop/work/data science/project/bakery data/cliente_tabla.csv")
town_state = pd.read_csv("../../Desktop/work/data science/project/bakery data/town_state.csv")
product_name = pd.read_csv("../../Desktop/work/data science/project/bakery data/producto_tabla.csv")
bgtest = pd.read_csv("../../Desktop/work/data science/project/bakery data/test.csv")
sample_submission = pd.read_csv("../../Desktop/work/data science/project/bakery data/sample_submission.csv")

#submission must have 6999251 rows, i.e. the length of the test data set

In [154]:
len(bgtest)

6999251

In [3]:
bgtrain = bgtrain.rename(columns={'Semana': 'Week_num',
                                  'Agencia_ID': 'Sales_Depot_ID',
                                  'Canal_ID': 'Sales_Channel_ID',
                                  'Ruta_SAK': 'Route_ID',
                                  'Cliente_ID': 'Client_ID',
                                  'Venta_uni_hoy': 'Sales_unit_this_week',
                                  'Venta_hoy': 'Sales_this_week',
                                  'Dev_uni_proxima': 'Returns_unit_next_week',
                                  'Dev_proxima': 'Returns_next_week',
                                  'Demanda_uni_equil': 'Adjusted_demand',
                                  'Producto_ID': 'Product_ID'})

bgtest = bgtest.rename(columns={'Semana': 'Week_num',
                                  'Agencia_ID': 'Sales_Depot_ID',
                                  'Canal_ID': 'Sales_Channel_ID',
                                  'Ruta_SAK': 'Route_ID',
                                  'Cliente_ID': 'Client_ID',
                                  'Venta_uni_hoy': 'Sales_unit_this_week',
                                  'Venta_hoy': 'Sales_this_week',
                                  'Dev_uni_proxima': 'Returns_unit_next_week',
                                  'Dev_proxima': 'Returns_next_week',
                                  'Demanda_uni_equil': 'Adjusted_demand',
                                  'Producto_ID': 'Product_ID'})

The most naive guess is to use the same adjusted demand from week 9.  If the client or product is not present in week 9, set adjusted demand to 7.

In [7]:
#this reduces the entries from 75 million to 10 million

simple_bgtrain = pd.DataFrame({'Client_ID': bgtrain[bgtrain['Week_num'] == 9]['Client_ID'],
                               'Product_ID': bgtrain[bgtrain['Week_num'] == 9]['Product_ID'],
                               'Adjusted_demand': bgtrain[bgtrain['Week_num'] == 9]['Adjusted_demand']})

In [27]:
simple_bgtest = pd.DataFrame({'Client_ID': bgtest['Client_ID'],
                              'Product_ID': bgtest['Product_ID']})

In [8]:
df = pd.DataFrame({'id': np.arange(len(bgtest)),
                   'Demanda_uni_equil': 7*np.ones(len(bgtest)).astype(int)})

In [14]:
simple_bgtrain[(simple_bgtrain['Client_ID'] == bgtest['Client_ID'].iloc[2]) & (simple_bgtrain['Product_ID'] == bgtest['Product_ID'].iloc[2])]['Adjusted_demand']

71784635    2
Name: Adjusted_demand, dtype: int64

In [70]:
for i in range(2000000):
    if len(simple_bgtrain[(simple_bgtrain['Client_ID'] == simple_bgtest['Client_ID'].iloc[i]) & (simple_bgtrain['Product_ID'] == simple_bgtest['Product_ID'].iloc[i])]) != 0:
        df.loc[i, 'Demanda_uni_equil'] = simple_bgtrain[(simple_bgtrain['Client_ID'] == simple_bgtest['Client_ID'].iloc[i]) & (simple_bgtrain['Product_ID'] == simple_bgtest['Product_ID'].iloc[i])]['Adjusted_demand'].iloc[0]

In [ ]:
for i in np.arange(4000000,6999251,1):
    if len(simple_bgtrain[(simple_bgtrain['Client_ID'] == simple_bgtest['Client_ID'].iloc[i]) & (simple_bgtrain['Product_ID'] == simple_bgtest['Product_ID'].iloc[i])]) != 0:
        df.loc[i, 'Demanda_uni_equil'] = simple_bgtrain[(simple_bgtrain['Client_ID'] == simple_bgtest['Client_ID'].iloc[i]) & (simple_bgtrain['Product_ID'] == simple_bgtest['Product_ID'].iloc[i])]['Adjusted_demand'].iloc[0]

In [ ]:
df.to_csv('simple_prediction.csv', index=False)

In [78]:
df.loc[2000000-3:2000000+3]

              id  Demanda_uni_equil
1999997  1999997                  4
1999998  1999998                 19
1999999  1999999                  6
2000000  2000000                  7
2000001  2000001                  7
2000002  2000002                  7
2000003  2000003                  7

In [74]:
for i in np.arange(1,10,2):
    print(i)

1
3
5
7
9

In [24]:
simple_bgtrain.head()

          Client_ID  Product_ID  Adjusted_demand
63771751      15766        1212                1
63771752      15766        1238                2
63771753      15766        1240                2
63771754      15766        1242                1
63771755      15766        1250               10

In [25]:
bgtest.head()

,id,Week_num,Sales_Depot_ID,Sales_Channel_ID,Route_ID,Client_ID,Product_ID
0,0,11,4037,1,2209,4639078,35305
1,1,11,2237,1,1226,4705135,1238
2,2,10,2045,1,2831,4549769,32940
3,3,11,1227,1,4448,4717855,43066
4,4,11,1219,1,1130,966351,1277

In [26]:
bgtest[bgtest['Client_ID'] == 4639078]

,id,Week_num,Sales_Depot_ID,Sales_Channel_ID,Route_ID,Client_ID,Product_ID
0,0,11,4037,1,2209,4639078,35305
801547,801547,10,4037,1,2209,4639078,35305
1165993,1165993,11,4037,1,2209,4639078,35309
6120717,6120717,10,4037,1,2209,4639078,40930

In [172]:
bgtrain[(bgtrain['Client_ID'] == bgtest['Client_ID'].iloc[25]) & (bgtrain['Product_ID'] == bgtest['Product_ID'].iloc[25])]

,Week_num,Sales_Depot_ID,Sales_Channel_ID,Route_ID,Client_ID,Product_ID,Sales_unit_this_week,Sales_this_week,Returns_unit_next_week,Returns_next_week,Adjusted_demand
2199785,3,1227,1,2822,3342223,43285,6,31.68,0,0.0,6
13288004,4,1227,1,2822,3342223,43285,6,31.68,0,0.0,6
24138871,5,1227,1,2822,3342223,43285,8,42.24,0,0.0,8
34653220,6,1227,1,2822,3342223,43285,10,52.80,0,0.0,10
44939775,7,1227,1,2822,3342223,43285,7,36.96,0,0.0,7

In [158]:
bgtest.head()

,id,Week_num,Sales_Depot_ID,Sales_Channel_ID,Route_ID,Client_ID,Product_ID
0,0,11,4037,1,2209,4639078,35305
1,1,11,2237,1,1226,4705135,1238
2,2,10,2045,1,2831,4549769,32940
3,3,11,1227,1,4448,4717855,43066
4,4,11,1219,1,1130,966351,1277

In [157]:
bgtest.tail()

,id,Week_num,Sales_Depot_ID,Sales_Channel_ID,Route_ID,Client_ID,Product_ID
6999246,6999246,11,2057,1,1153,4379638,1232
6999247,6999247,10,1334,1,2008,970421,43069
6999248,6999248,11,1622,1,2869,192749,30532
6999249,6999249,11,1636,1,4401,286071,35107
6999250,6999250,11,1625,1,1259,978760,1232

In [160]:
len(bgtrain[bgtrain['Client_ID'] == 0])

0

In [19]:
bgtrain.sample(5)

,Week_num,Sales_Depot_ID,Sales_Channel_ID,Route_ID,Client_ID,Product_ID,Sales_unit_this_week,Sales_this_week,Returns_unit_next_week,Returns_next_week,Adjusted_demand
50506279,7,2029,1,2126,4701793,43058,2,18.70,0,0.0,2
64789826,9,1137,1,1450,1812679,1250,12,91.68,0,0.0,12
57420304,8,1431,1,1233,4528376,43202,1,8.38,0,0.0,1
30422427,5,2055,1,2056,4409546,5380,7,51.87,0,0.0,7
74177036,9,25759,1,2815,4702357,36610,160,123.20,0,0.0,160

In [29]:
bgtest.sample(10)

,id,Week_num,Sales_Depot_ID,Sales_Channel_ID,Route_ID,Client_ID,Product_ID
1911828,1911828,10,1337,1,1240,1487018,1240
6611620,6611620,10,1219,1,2806,4672330,43285
4531082,4531082,10,2032,1,2153,288188,37361
4373919,4373919,10,1123,1,1236,1898437,2233
5754159,5754159,10,1385,4,6614,4383899,32937
2264072,2264072,11,1954,1,2838,121778,30532
493589,493589,10,23899,1,4103,443507,5621
5007804,5007804,10,1236,1,1202,683825,31423
1022657,1022657,11,2653,1,1042,406102,1146
5784453,5784453,10,1315,1,5055,100454,32861

In [57]:
print(len(bgtrain['Client_ID'].unique()))
print(len(bgtest['Client_ID'].unique()))

880604
745164

In [61]:
len(np.intersect1d(bgtrain['Client_ID'].unique(),bgtest['Client_ID'].unique()))

735501

Many clients have no sales in week 9.  Most of these clients only have sales in week 5.

In [ ]:
simple_bgtrain = pd.DataFrame({'Client_ID': bgtrain[bgtrain['Week_num'] == 9]['Client_ID'], 'Adjusted_demand': bgtrain[bgtrain['Week_num'] == 9]['Adjusted_demand']})

In [113]:
cid_train = np.sort(bgtrain['Client_ID'].unique())
cid_train_simple = np.sort(simple_bgtrain['Client_ID'].unique())
cid_test = np.sort(bgtest['Client_ID'].unique())
cid_test_not_train = np.sort(np.setdiff1d(cid_test,cid_train))
cid_test_not_train_simple = np.sort(np.setdiff1d(cid_test,cid_train_simple))
cid_all = np.sort(np.unique(np.concatenate((cid_train,cid_test))))

In [63]:
len(cid_test_not_train)

9663

In [92]:
cid_train

array([        26,         60,         65, ...,   19988629,   99999999,
       2015152015], dtype=int64)

In [93]:
np.max(bgtrain['Client_ID'].unique())

2015152015

In [165]:
df_submission = pd.DataFrame({'id': np.zeros(len(cid_all)).astype(int),
                              'Demanda_uni_equil': np.zeros(len(cid_all)).astype(int)})

df_submission.head()

   id  Demanda_uni_equil
0   0                  0
1   0                  0
2   0                  0
3   0                  0
4   0                  0

In [169]:
df_submission.loc[1, 'Demanda_uni_equil'] = 8

In [170]:
df_submission.loc[0] = 1, 2
df_submission.head()

   id  Demanda_uni_equil
0   1                  2
1   0                  8
2   0                  0
3   0                  0
4   0                  0

In [53]:
for i in range(100):
    if len(bgtrain[(bgtrain['Client_ID'] == df_submission['id'].iloc[i]) & (bgtrain['Week_num'] == 9)]['Adjusted_demand']) == 0:
        df_submission.loc[i, 'Demanda_uni_equil'] = 0
    
    else:
        df_submission.loc[i, 'Demanda_uni_equil'] = np.floor(bgtrain[(bgtrain['Client_ID'] == df_submission['id'].iloc[i]) & (bgtrain['Week_num'] == 9)]['Adjusted_demand'].mean()).astype(int)

In [96]:
for i in cid_train_simple:
    if i<16000:
        print(i)

26
60
65
101
105
106
107
262
465
772
786
791
795
797
906
1080
1266
1311
1436
1438
1589
2003
2006
2010
2011
2012
2015
2017
2018
2022
2023
2024
2025
2029
2033
2042
2046
2047
2049
2051
2052
2056
2058
2059
2060
2061
2062
2065
2066
2072
2073
2084
2093
2098
2100
2101
2102
2103
2104
2105
2107
2109
2111
2113
2117
2118
2119
2122
2123
2129
2136
2142
2143
2145
2147
2150
2152
2153
2154
2157
2161
2166
2169
2170
2177
2178
2179
2181
2182
2183
2184
2187
2195
2197
2198
2199
2200
2202
2203
2206
2207
2212
2213
2214
2219
2221
2224
2229
2232
2237
2241
2244
2257
2260
2261
2266
2269
2270
2271
2273
2274
2278
2279
2282
2284
2285
2287
2291
2293
2294
2295
2299
2300
2307
2310
2315
2318
2320
2321
2326
2330
2338
2346
2347
2354
2356
2358
2367
2372
2379
2382
2383
2386
2394
2396
2397
2399
2400
2401
2403
2404
2407
2408
2409
2410
2414
2425
2426
2429
2431
2433
2436
2437
2441
2442
2444
2445
2454
2457
2460
2463
2464
2465
2467
2468
2471
2472
2479
2482
2485
2486
2487
2488
2491
2494
2497
2498
2499
2500
2503
2506
2511
2512
2514
2517
2519
2520
2523
2525
2527
2534
2538
2539
2541
2542
2550
2556
2558
2559
2560
2563
2564
2567
2569
2570
2572
2575
2577
2578
2579
2587
2588
2590
2591
2593
2595
2596
2598
2599
2600
2602
2603
2605
2607
2610
2612
2613
2618
2620
2623
2625
2626
2630
2631
2634
2637
2640
2642
2648
2658
2667
2671
2678
2680
2681
2682
2685
2689
2691
2693
2702
2703
2712
2716
2718
2721
2724
2725
2728
2736
2737
2738
2739
2740
2742
2745
2746
2747
2752
2755
2762
2767
2768
2770
2781
2782
2785
2787
2788
2790
2792
2794
2795
2796
2799
2801
2802
2805
2808
2815
2832
2833
2835
2836
2837
2840
2845
2849
2855
2857
2858
2859
2865
2867
2871
2878
2880
2884
2885
2886
2887
2896
2897
2898
2908
2909
2918
2919
2924
2925
2926
2927
2930
2931
2934
2937
2960
2962
2981
2989
2991
2993
3008
3014
3015
3019
3023
3025
3030
3033
3046
3057
3060
3062
3067
3068
3070
3072
3073
3077
3078
3084
3088
3091
3096
3097
3100
3101
3104
3116
3118
3119
3120
3122
3130
3136
3139
3140
3141
3145
3147
3148
3149
3151
3152
3154
3157
3169
3181
3182
3186
3188
3189
3191
3192
3193
3194
3196
3198
3199
3200
3201
3202
3205
3212
3218
3219
3220
3222
3223
3225
3227
3228
3231
3233
3234
3240
3243
3245
3246
3247
3248
3252
3253
3256
3259
3261
3265
3266
3268
3271
3272
3273
3274
3276
3282
3284
3289
3292
3296
3297
3301
3304
3305
3307
3308
3309
3314
3317
3318
3320
3330
3331
3333
3334
3335
3341
3342
3345
3347
3350
3355
3357
3368
3369
3371
3372
3373
3374
3375
3378
3383
3385
3386
3392
3393
3394
3395
3397
3399
3401
3404
3406
3409
3412
3416
3417
3421
3424
3426
3430
3431
3437
3439
3440
3443
3448
3458
3461
3467
3471
3472
3473
3477
3480
3482
3484
3489
3491
3492
3496
3499
3502
3503
3506
3510
3512
3516
3517
3520
3521
3528
3529
3534
3540
3542
3543
3547
3556
3557
3559
3562
3564
3571
3573
3574
3575
3577
3579
3589
3596
3597
3598
3601
3602
3608
3611
3615
3618
3622
3627
3628
3629
3633
3634
3636
3637
3640
3643
3644
3645
3650
3652
3656
3662
3663
3664
3669
3674
3676
3681
3683
3690
3691
3695
3705
3708
3716
3725
3726
3734
3738
3739
3744
3763
3766
3767
3768
3769
3773
3775
3776
3777
3779
3781
3786
3790
3791
3794
3796
3802
3803
3805
3815
3817
3823
3824
3825
3832
3834
3835
3838
3841
3844
3845
3852
3854
3855
3865
3870
3885
3890
3892
3893
3897
3898
3899
3900
3902
3903
3904
3906
3915
3920
3922
3926
3929
3932
3936
3937
3941
3943
3945
3950
3954
3955
3961
3963
3965
3967
3968
3978
3986
3987
3990
3993
3997
4000
4001
4003
4004
4005
4008
4009
4010
4013
4014
4016
4019
4022
4025
4027
4028
4029
4030
4032
4034
4037
4040
4049
4050
4051
4058
4060
4068
4070
4072
4084
4087
4089
4090
4103
4104
4105
4106
4107
4110
4120
4124
4125
4128
4132
4135
4136
4140
4141
4145
4150
4153
4159
4161
4180
4185
4186
4188
4190
4191
4195
4196
4197
4202
4204
4207
4208
4210
4215
4220
4225
4226
4227
4231
4234
4239
4243
4246
4249
4252
4254
4257
4258
4260
4261
4262
4269
4276
4277
4278
4281
4283
4289
4291
4294
4299
4307
4316
4317
4318
4319
4323
4326
4333
4336
4340
4345
4349
4350
4354
4358
4370
4376
4379
4381
4384
4388
4392
4393
4397
4398
4403
4409
4411
4419
4423
4424
4428
4432
4434
4435
4447
4452
4454
4456
4458
4459
4463
4468
4470
4473
4475
4476
4479
4483
4484
4485
4487
4491
4496
4500
4503
4504
4506
4510
4511
4515
4517
4525
4526
4529
4535
4538
4542
4545
4549
4553
4556
4558
4569
4578
4581
4586
4587
4588
4590
4595
4596
4598
4599
4602
4608
4609
4618
4623
4639
4645
4646
4648
4655
4656
4659
4663
4667
4675
4680
4683
4684
4686
4688
4695
4697
4704
4705
4710
4714
4718
4724
4727
4733
4737
4739
4746
4752
4753
4755
4760
4770
4772
4778
4780
4784
4785
4786
4788
4791
4801
4817
4822
4828
4829
4831
4837
4838
4841
4843
4845
4865
4869
4876
4877
4881
4891
4892
4894
4895
4898
4904
4910
4922
4930
4938
4940
4949
4950
4953
4955
4958
4960
4961
4962
4965
4966
4970
4976
4978
4986
4987
4993
4996
4998
5001
5004
5011
5012
5013
5016
5020
5027
5033
5039
5040
5046
5048
5052
5053
5054
5055
5056
5058
5060
5062
5064
5065
5068
5071
5072
5073
5077
5078
5083
5084
5087
5088
5089
5090
5095
5100
5104
5106
5111
5113
5114
5115
5117
5119
5120
5125
5130
5135
5137
5138
5142
5143
5144
5147
5149
5150
5151
5155
5157
5159
5160
5163
5165
5170
5173
5174
5186
5187
5199
5201
5203
5207
5211
5212
5219
5223
5224
5232
5235
5236
5237
5238
5244
5247
5251
5254
5257
5262
5266
5269
5270
5274
5287
5291
5295
5298
5299
5300
5304
5307
5312
5313
5317
5325
5334
5337
5338
5339
5341
5342
5343
5344
5347
5349
5351
5352
5358
5359
5360
5365
5367
5368
5370
5375
5377
5381
5385
5389
5390
5392
5395
5397
5406
5408
5412
5414
5415
5416
5417
5423
5429
5432
5433
5435
5436
5438
5440
5441
5443
5445
5446
5449
5450
5452
5457
5459
5460
5463
5464
5466
5470
5472
5478
5480
5481
5484
5485
5486
5487
5490
5492
5496
5498
5501
5502
5505
5506
5509
5514
5515
5517
5518
5523
5524
5525
5532
5534
5536
5537
5538
5539
5540
5542
5544
5545
5547
5548
5560
5565
5566
5567
5568
5569
5570
5571
5574
5575
5579
5581
5587
5599
5603
5608
5609
5610
5612
5613
5616
5618
5619
5620
5622
5623
5626
5628
5629
5630
5636
5638
5641
5644
5645
5647
5648
5649
5650
5651
5655
5664
5666
5667
5669
5670
5678
5683
5685
5687
5691
5695
5696
5699
5703
5705
5710
5711
5713
5715
5719
5724
5725
5728
5733
5746
5747
5748
5751
5752
5754
5755
5757
5758
5760
5763
5768
5770
5772
5773
5775
5777
5778
5780
5781
5785
5786
5788
5789
5791
5793
5794
5796
5797
5799
5800
5802
5804
5816
5821
5822
5823
5825
5827
5832
5834
5835
5836
5837
5840
5843
5844
5847
5848
5849
5851
5852
5853
5869
5872
5874
5878
5879
5881
5882
5884
5885
5886
5890
5891
5893
5895
5898
5905
5908
5910
5911
5912
5914
5915
5919
5923
5925
5926
5927
5928
5929
5932
5942
5943
5944
5948
5949
5954
5956
5957
5958
5968
5970
5977
5982
5984
5985
5988
5992
5994
6000
6001
6007
6009
6011
6014
6018
6020
6021
6029
6031
6032
6035
6039
6045
6046
6050
6051
6062
6063
6071
6072
6074
6076
6077
6078
6080
6081
6082
6088
6093
6104
6106
6111
6112
6126
6127
6132
6140
6145
6147
6149
6150
6152
6153
6157
6159
6163
6165
6168
6172
6173
6176
6182
6185
6187
6190
6191
6192
6193
6195
6198
6199
6200
6201
6206
6211
6214
6219
6220
6222
6223
6224
6231
6232
6233
6236
6239
6240
6246
6249
6259
6261
6265
6273
6277
6281
6284
6285
6292
6293
6294
6296
6297
6300
6303
6305
6307
6308
6311
6315
6322
6326
6330
6334
6339
6340
6343
6345
6348
6349
6351
6356
6359
6362
6365
6369
6370
6373
6376
6380
6385
6386
6392
6394
6397
6398
6402
6403
6405
6407
6409
6417
6425
6426
6427
6431
6436
6437
6440
6442
6445
6448
6449
6455
6460
6463
6464
6470
6472
6473
6475
6485
6486
6491
6493
6496
6508
6513
6514
6516
6518
6519
6521
6523
6524
6526
6530
6531
6532
6534
6535
6536
6537
6540
6541
6544
6545
6547
6549
6552
6553
6554
6556
6557
6560
6561
6563
6565
6566
6567
6572
6573
6574
6575
6576
6579
6580
6582
6583
6584
6588
6589
6590
6591
6592
6595
6598
6600
6605
6606
6611
6618
6620
6621
6626
6629
6632
6633
6637
6638
6639
6643
6646
6648
6649
6650
6659
6663
6669
6670
6671
6672
6674
6678
6680
6681
6682
6683
6685
6688
6689
6692
6693
6694
6695
6697
6715
6717
6718
6720
6721
6724
6726
6727
6728
6732
6734
6737
6739
6749
6750
6755
6756
6760
6763
6765
6766
6767
6778
6779
6783
6787
6790
6791
6795
6801
6802
6803
6813
6816
6817
6819
6823
6826
6830
6831
6843
6844
6847
6848
6851
6853
6860
6862
6863
6864
6875
6876
6880
6881
6883
6894
6895
6898
6900
6908
6912
6923
6927
6935
6936
6946
6947
6949
6952
6953
6957
6960
6963
6964
6968
6970
6974
6975
6977
6980
6982
6983
6986
6987
6988
6990
6991
6993
6996
6998
6999
7003
7004
7006
7012
7014
7023
7030
7035
7041
7042
7043
7048
7051
7055
7061
7066
7071
7075
7076
7077
7078
7086
7088
7089
7091
7092
7096
7101
7105
7108
7114
7117
7119
7126
7127
7128
7130
7134
7138
7142
7147
7149
7156
7178
7182
7184
7191
7192
7193
7197
7198
7199
7200
7202
7203
7218
7224
7227
7228
7239
7244
7245
7250
7259
7261
7265
7266
7271
7273
7275
7276
7277
7279
7287
7290
7292
7294
7301
7302
7316
7317
7319
7321
7325
7330
7331
7334
7335
7336
7337
7338
7339
7340
7345
7346
7347
7351
7354
7355
7356
7357
7358
7359
7360
7368
7370
7371
7373
7378
7379
7380
7381
7382
7383
7385
7387
7389
7390
7393
7400
7403
7404
7405
7408
7417
7421
7422
7424
7429
7430
7433
7435
7438
7439
7444
7448
7450
7453
7456
7461
7463
7465
7466
7475
7479
7481
7482
7491
7497
7501
7502
7505
7506
7508
7509
7510
7511
7513
7523
7524
7534
7537
7542
7544
7545
7546
7554
7558
7559
7561
7562
7563
7576
7578
7579
7587
7600
7603
7609
7615
7618
7621
7622
7624
7625
7626
7627
7630
7633
7634
7636
7637
7641
7643
7644
7649
7656
7657
7663
7667
7669
7678
7682
7685
7688
7689
7691
7692
7696
7701
7704
7707
7716
7719
7720
7721
7723
7724
7726
7727
7731
7732
7733
7735
7743
7748
7749
7751
7758
7766
7767
7774
7777
7794
7799
7803
7805
7808
7810
7814
7817
7821
7825
7826
7829
7834
7844
7845
7852
7854
7861
7863
7864
7867
7871
7873
7875
7877
7879
7882
7883
7885
7886
7890
7894
7900
7912
7914
7916
7918
7919
7926
7934
7937
7938
7939
7943
7945
7949
7951
7954
7956
7957
7958
7961
7962
7968
7971
7973
7975
7978
7981
7984
7985
7987
7988
8001
8002
8007
8008
8011
8013
8014
8015
8018
8019
8021
8023
8025
8029
8033
8034
8036
8040
8043
8044
8045
8046
8047
8048
8052
8054
8055
8056
8057
8062
8064
8067
8073
8074
8075
8076
8080
8084
8086
8088
8091
8093
8094
8096
8097
8100
8102
8103
8109
8110
8111
8113
8123
8130
8131
8132
8134
8135
8136
8140
8142
8146
8147
8153
8154
8155
8158
8166
8167
8175
8178
8179
8181
8188
8189
8196
8198
8201
8202
8206
8207
8214
8219
8225
8227
8230
8233
8236
8237
8240
8246
8248
8259
8261
8262
8263
8265
8270
8273
8274
8275
8279
8282
8287
8288
8289
8291
8292
8295
8303
8304
8306
8308
8309
8310
8312
8314
8315
8316
8318
8319
8320
8321
8325
8328
8329
8330
8331
8335
8339
8341
8344
8349
8350
8356
8362
8365
8366
8367
8368
8370
8372
8374
8382
8386
8398
8401
8403
8406
8408
8409
8411
8414
8415
8419
8422
8424
8427
8428
8430
8433
8434
8435
8438
8443
8444
8445
8446
8449
8451
8454
8456
8461
8467
8468
8470
8471
8472
8475
8477
8478
8481
8485
8487
8489
8495
8499
8505
8507
8508
8514
8515
8518
8520
8522
8525
8526
8528
8529
8532
8540
8542
8543
8544
8546
8548
8549
8551
8552
8553
8564
8566
8573
8577
8584
8588
8591
8592
8593
8597
8598
8602
8603
8610
8613
8622
8625
8628
8629
8630
8632
8633
8635
8636
8639
8643
8647
8651
8654
8657
8659
8660
8661
8663
8664
8665
8671
8672
8676
8681
8686
8687
8688
8691
8693
8694
8700
8702
8703
8705
8706
8709
8712
8719
8720
8724
8728
8729
8730
8731
8732
8735
8741
8742
8744
8745
8758
8760
8767
8768
8769
8774
8777
8778
8785
8786
8788
8790
8793
8801
8805
8806
8809
8811
8813
8816
8817
8818
8822
8823
8825
8826
8829
8832
8834
8836
8837
8840
8843
8846
8847
8848
8850
8852
8854
8856
8860
8864
8869
8871
8873
8876
8879
8882
8883
8885
8887
8888
8890
8892
8896
8898
8900
8903
8904
8909
8910
8914
8916
8918
8920
8921
8922
8925
8930
8932
8935
8936
8940
8941
8943
8949
8951
8952
8956
8957
8959
8965
8969
8972
8974
8977
8979
8982
8987
8988
8989
8990
8995
9003
9005
9006
9007
9008
9009
9010
9011
9012
9018
9025
9026
9031
9032
9036
9038
9040
9044
9046
9049
9054
9055
9060
9062
9067
9068
9071
9073
9076
9077
9078
9079
9083
9086
9087
9090
9091
9092
9096
9098
9101
9104
9106
9107
9109
9113
9116
9119
9129
9133
9140
9144
9145
9146
9151
9157
9163
9165
9170
9171
9174
9175
9178
9180
9182
9183
9186
9190
9194
9200
9202
9203
9204
9205
9206
9210
9215
9217
9218
9219
9223
9225
9227
9228
9238
9240
9241
9246
9252
9253
9256
9259
9260
9264
9271
9272
9273
9275
9278
9279
9281
9285
9286
9288
9290
9291
9296
9297
9300
9302
9304
9306
9307
9309
9310
9311
9313
9317
9318
9319
9320
9323
9325
9327
9328
9329
9331
9332
9337
9339
9340
9341
9344
9346
9350
9351
9356
9358
9359
9364
9365
9374
9375
9380
9386
9388
9391
9393
9400
9414
9432
9463
9464
9465
9467
9475
9476
9482
9484
9485
9504
9505
9509
9517
9526
9528
9530
9533
9541
9546
9550
9552
9556
9564
9572
9575
9577
9586
9590
9594
9603
9613
9633
9647
9648
9650
9651
9655
9657
9659
9663
9665
9672
9699
9709
9710
9716
9726
9727
9733
9734
9735
9746
9751
9753
9756
9762
9766
9767
9779
9781
9783
9788
9797
9806
9817
9820
9825
9826
9830
9832
9836
9841
9846
9847
9856
9857
9860
9864
9866
9870
9874
9875
9876
9879
9882
9884
9885
9890
9897
9900
9904
9909
9914
9917
9924
9925
9927
9946
9956
9971
9978
9984
9992
9994
9995
10005
10013
10019
10031
10038
10052
10058
10062
10065
10071
10073
10079
10080
10081
10083
10085
10090
10094
10099
10114
10117
10119
10120
10128
10131
10132
10136
10139
10140
10145
10148
10154
10155
10157
10159
10163
10177
10191
10192
10199
10200
10202
10204
10205
10207
10209
10210
10211
10213
10218
10221
10222
10223
10225
10231
10233
10237
10251
10257
10259
10273
10274
10276
10279
10292
10295
10302
10311
10316
10328
10335
10345
10351
10357
10358
10360
10361
10367
10369
10370
10372
10374
10376
10378
10379
10380
10382
10383
10385
10386
10387
10388
10389
10394
10396
10398
10400
10403
10406
10408
10412
10415
10418
10419
10421
10425
10426
10427
10428
10429
10431
10432
10433
10434
10438
10440
10442
10447
10448
10451
10452
10455
10457
10461
10462
10465
10470
10476
10478
10480
10482
10483
10484
10487
10488
10495
10496
10498
10499
10503
10506
10507
10511
10513
10516
10518
10519
10527
10529
10530
10532
10533
10535
10539
10541
10542
10548
10549
10550
10552
10559
10560
10561
10562
10563
10566
10567
10569
10572
10574
10576
10578
10580
10581
10586
10587
10589
10592
10593
10594
10595
10596
10597
10600
10602
10609
10610
10614
10615
10616
10621
10622
10623
10625
10626
10633
10636
10638
10639
10641
10642
10643
10644
10647
10650
10651
10655
10656
10657
10659
10662
10670
10678
10679
10682
10683
10684
10685
10686
10691
10693
10694
10697
10698
10701
10702
10706
10707
10709
10710
10712
10713
10714
10715
10717
10718
10719
10727
10728
10730
10732
10733
10735
10736
10738
10740
10741
10742
10743
10744
10746
10747
10748
10750
10752
10753
10754
10756
10758
10759
10760
10764
10765
10766
10767
10768
10770
10771
10772
10773
10774
10776
10778
10782
10783
10785
10786
10787
10790
10791
10792
10793
10795
10798
10799
10801
10803
10804
10805
10806
10807
10808
10809
10810
10813
10814
10815
10821
10823
10825
10826
10827
10829
10831
10832
10833
10837
10844
10845
10846
10848
10850
10851
10853
10856
10860
10862
10864
10866
10867
10870
10871
10873
10875
10877
10878
10885
10886
10890
10893
10895
10901
10902
10907
10914
10917
10918
10922
10924
10928
10931
10933
10941
10944
10947
10949
10950
10951
10958
10960
10961
10962
10963
10968
10969
10971
10972
10977
10979
10981
10983
10988
10993
10997
11000
11004
11005
11012
11015
11018
11020
11021
11024
11026
11027
11030
11031
11032
11033
11036
11037
11039
11040
11045
11053
11061
11062
11063
11064
11067
11070
11073
11088
11090
11094
11099
11100
11102
11103
11107
11108
11110
11111
11114
11115
11116
11121
11137
11140
11142
11143
11144
11149
11151
11152
11160
11161
11164
11165
11166
11170
11171
11174
11175
11176
11181
11182
11184
11186
11194
11196
11199
11201
11203
11204
11209
11210
11213
11214
11215
11216
11217
11219
11221
11222
11225
11226
11228
11229
11231
11232
11237
11238
11239
11240
11247
11248
11253
11255
11258
11260
11262
11263
11265
11269
11271
11272
11273
11283
11284
11285
11287
11288
11289
11292
11294
11295
11296
11298
11299
11300
11304
11307
11308
11309
11310
11312
11313
11315
11316
11317
11318
11322
11324
11325
11326
11327
11328
11330
11332
11333
11339
11341
11346
11355
11360
11362
11367
11368
11374
11376
11377
11378
11380
11381
11387
11388
11391
11395
11396
11398
11404
11405
11408
11410
11411
11413
11414
11415
11416
11418
11423
11424
11425
11427
11428
11429
11430
11432
11436
11438
11440
11441
11442
11448
11450
11451
11452
11453
11463
11464
11469
11478
11481
11485
11489
11490
11491
11494
11496
11500
11501
11505
11507
11512
11515
11518
11523
11524
11526
11528
11531
11532
11533
11534
11536
11539
11542
11546
11550
11556
11562
11564
11567
11569
11570
11572
11573
11575
11577
11579
11582
11584
11586
11589
11592
11594
11598
11600
11601
11602
11605
11606
11608
11609
11610
11615
11616
11618
11620
11622
11623
11624
11627
11629
11632
11633
11634
11636
11640
11643
11647
11652
11653
11655
11656
11659
11660
11663
11664
11666
11668
11669
11672
11678
11679
11682
11685
11688
11691
11698
11699
11700
11708
11714
11722
11725
11733
11736
11737
11747
11748
11750
11751
11755
11757
11758
11759
11761
11763
11768
11775
11781
11785
11786
11795
11796
11798
11799
11801
11803
11805
11806
11808
11809
11810
11811
11813
11815
11816
11817
11822
11823
11825
11826
11827
11829
11831
11832
11837
11843
11845
11847
11848
11850
11851
11857
11860
11864
11869
11870
11874
11878
11879
11881
11882
11883
11885
11893
11895
11898
11901
11907
11911
11913
11918
11919
11920
11923
11924
11935
11940
11944
11946
11948
11954
11957
11961
11962
11963
11964
11965
11966
11967
11969
11972
11975
11983
11984
11986
11987
11991
11993
11998
12008
12014
12016
12018
12019
12020
12027
12028
12030
12031
12036
12037
12039
12040
12051
12055
12056
12057
12058
12061
12062
12063
12064
12065
12069
12070
12071
12074
12075
12076
12077
12080
12083
12088
12089
12091
12093
12095
12096
12097
12098
12100
12101
12102
12104
12117
12120
12121
12122
12123
12127
12128
12129
12132
12134
12135
12136
12137
12142
12145
12146
12147
12154
12161
12164
12169
12171
12173
12177
12178
12179
12183
12185
12193
12198
12201
12208
12210
12212
12213
12215
12216
12218
12220
12222
12225
12234
12240
12242
12247
12248
12249
12251
12252
12253
12256
12257
12258
12261
12262
12265
12266
12271
12274
12275
12277
12279
12283
12284
12285
12287
12288
12290
12292
12293
12295
12296
12297
12299
12300
12301
12308
12309
12312
12318
12322
12323
12326
12330
12331
12332
12336
12337
12341
12342
12345
12347
12348
12349
12352
12355
12357
12358
12361
12369
12372
12374
12377
12378
12379
12382
12383
12385
12386
12389
12390
12391
12393
12395
12399
12410
12418
12423
12424
12426
12427
12428
12430
12435
12438
12442
12443
12444
12450
12457
12458
12459
12464
12467
12469
12470
12473
12474
12475
12476
12477
12482
12484
12485
12486
12489
12491
12494
12497
12500
12501
12502
12504
12506
12507
12509
12510
12512
12521
12523
12525
12527
12530
12531
12537
12539
12540
12542
12543
12544
12548
12549
12552
12555
12557
12558
12559
12561
12563
12564
12565
12566
12575
12580
12589
12591
12604
12608
12609
12611
12612
12614
12616
12617
12622
12624
12627
12632
12634
12636
12641
12643
12646
12649
12650
12654
12659
12661
12664
12666
12675
12678
12679
12685
12686
12689
12692
12693
12696
12697
12698
12699
12701
12702
12703
12707
12708
12712
12715
12720
12723
12724
12726
12728
12731
12732
12733
12736
12739
12740
12746
12751
12752
12754
12755
12761
12768
12771
12774
12775
12777
12778
12782
12783
12784
12790
12791
12792
12797
12798
12799
12800
12806
12813
12814
12817
12821
12822
12825
12831
12832
12833
12834
12835
12837
12838
12839
12840
12841
12843
12845
12848
12849
12850
12851
12853
12854
12856
12857
12858
12859
12860
12861
12862
12863
12867
12870
12871
12872
12873
12875
12876
12877
12878
12880
12881
12883
12888
12889
12890
12891
12893
12896
12901
12904
12907
12909
12911
12913
12923
12925
12928
12931
12932
12937
12938
12940
12942
12943
12944
12946
12947
12948
12949
12959
12960
12964
12968
12970
12972
12975
12977
12978
12981
12984
12991
13000
13005
13008
13014
13015
13016
13020
13021
13023
13024
13026
13027
13030
13035
13037
13043
13044
13045
13046
13051
13052
13055
13058
13060
13061
13067
13068
13072
13073
13074
13090
13103
13104
13116
13129
13135
13139
13140
13141
13147
13151
13156
13163
13164
13168
13170
13172
13175
13176
13180
13181
13182
13189
13192
13198
13199
13203
13206
13207
13209
13211
13213
13217
13222
13233
13240
13245

In [97]:
for i in range(len(cid_train_simple)):
    df_submission.loc[i] = cid_train_simple[i], np.floor(simple_bgtrain[simple_bgtrain['Client_ID'] == cid_train_simple[i]]['Adjusted_demand'].mean()).astype(int)

In [100]:
df_submission.to_csv('test_submission.csv')

In [120]:
df_submission.iloc[len(cid_train_simple)-10:len(cid_train_simple)+1]

                id  Demanda_uni_equil
765565    10351784                 13
765566    10351790                 12
765567    10351796                 14
765568    10351802                 16
765569    10351808                 12
765570    10351814                  7
765571    11011586                 18
765572    11693264                 12
765573    19988629                  5
765574  2015152015                  8
765575        2027                  6

In [112]:
df_submission.iloc[len(cid_train_simple)-1]

id                   2015152015
Demanda_uni_equil             8
Name: 765574, dtype: int32

In [118]:
avg_guess = np.round(df_submission.loc[0:len(cid_train_simple), 'Demanda_uni_equil'].mean()).astype(int)

avg_guess

6

In [119]:
for i in range(len(cid_test_not_train_simple)):
    df_submission.iloc[len(cid_train_simple)+i] = cid_test_not_train_simple[i], avg_guess

In [122]:
df_submission.iloc[len(cid_test_not_train_simple)+len(cid_train_simple)-2:len(cid_test_not_train_simple)+len(cid_train_simple)+2]

              id  Demanda_uni_equil
818250   9838323                  6
818251  99999999                  6
818252         0                  0
818253         0                  0

In [125]:
df_submission.iloc[len(cid_test_not_train_simple)+len(cid_train_simple)]

id                   0
Demanda_uni_equil    0
Name: 818252, dtype: int32

In [126]:
df_submission.drop(df_submission.index[df_submission.index >= len(cid_test_not_train_simple)+len(cid_train_simple)], inplace = True)

In [127]:
df_submission.tail()

              id  Demanda_uni_equil
818247   9747048                  6
818248   9747716                  6
818249   9780515                  6
818250   9838323                  6
818251  99999999                  6

In [128]:
sample_submission.tail()

              id  Demanda_uni_equil
6999246  6999246                  7
6999247  6999247                  7
6999248  6999248                  7
6999249  6999249                  7
6999250  6999250                  7

In [129]:
df_submission_copy = df_submission.copy()

In [143]:
#undo mistake
df_submission = df_submission_copy.copy()

In [145]:
df_submission = df_submission.sort_values(by = ['id'])

In [149]:
df_submission.tail()

                id  Demanda_uni_equil
765571    11011586                 18
765572    11693264                 12
765573    19988629                  5
818251    99999999                  6
765574  2015152015                  8

In [151]:
df_submission.to_csv('simple_prediction.csv', index=False)